.suffix{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  background-color: transparent;
  border: none;
  padding-right: 5px;
  padding-left: 5px;
}

.div-group-input{
  display: flex;
  width: 100%;
  max-width: 20vh;
  border-radius: 5px;
  border: none;
  height: 35px;
  border: 1px solid #d9d9d9;
}

.div-group-input:hover{
    border-color: #4096FF;
  }

.div-group-input:focus{
box-shadow: 10px 0px 2px 0 #4096FF;
outline: 0;
border-color: #4096FF;
}