.section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../../@types/assets/111.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    width: 300px;
    height: 80px;
}

img{
    display: flex;
    width: 90px;
}

.form-box{
    position: relative;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
    background-color: none!important;
}

.inputbox input{
    width: 100% !important;
    height: 50px !important;
    background: transparent;
    border: none;
    outline: none;
    font-size: .9em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.icons-login{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;

}

.forget label a input{
    margin-right: 3px;
}

.forget label a{
   color: #004661;
   text-decoration: none;
   font-weight: 600;
}

.forget label a:hover{
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff !important;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

button:hover{
    background: transparent !important;
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition: .2s !important;
}

.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a{
    text-decoration: none;
    color: #004661;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}